html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	font-size: 16px;
	line-height: 30px;
	color: $default-color;
	@extend %dmsans-700;
}

.main {
	flex-grow: 1;
}

.container {
	max-width: 1790px;
	margin: 0 auto;
	padding: 0 10px;
}