@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

@import 'components/header';
@import 'components/slider';
@import 'components/services';
@import 'components/lamps';
@import 'components/design';
@import 'components/video';
@import 'components/articles';
@import 'components/partners';
@import 'components/footer';

.menu {
	@extend %rubik-600;
	color: $link-color;

	&__list {
		display: flex;
	}

	&__item {
		position: relative;

		&:not(:last-child) {
			margin-right: 25px;
		}
	}

	&__link {
		color: $link-color;
		padding-bottom: 4px;
		border-bottom: 2px solid transparent;
		transition: color 0.3s;
		position: relative;

		&:hover {
			border-bottom-color: $accent-color;
		}

		&--active {
			color: $main-color;
		}
	}
}

.submenu {
	&:after {
		content: '+';
		margin-left: 5px;
	}

	&__list {
		position: absolute;
		display: none;

	}
}

.buttons {
	display: flex;
	align-items: center;

	&__link {
		position: relative;
		margin-top: 9px;
	}

	&__num {
		position: absolute;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background-color: #ffffff;
		top: -9px;
		right: -9px;
		font-size: 9px;
		text-align: center;
		color: black;
	}

	&__block {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 180px;
		margin: 0 20px;
		padding: 10px 37px 10px 47px;
		border-radius: 30px;
		background-color: $main-color;

		&:hover {
			box-shadow: 0 0 10px 0 #7f7f7f;
		}
	}

	&--busket::before {
		content: '';
		border-left: 1px solid #ffffff;
		height: 30px;
		margin-left: 15px;
		position: absolute;
		left: -50px;
		bottom: 0;
	}
}

.round__btn {
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 50%;
	padding-top: 5px;
	cursor: pointer;
}

.search {
	cursor: pointer;
	display: flex;
	transition: box-shadow 0.2s;
	position: relative;

	&:hover .search__form {
		right: 150%;
		width: 200px;
	}

	&__form {
		border: none;
		background-color: #edf1f4;
		border-radius: 25px;
		padding: 14px 15px;
		position: absolute;
		right: 0;
		width: 100%;
		z-index: -1;
	}

	&__btn {
		background-color: #edf1f4;
		padding-top: 10px;
		padding-left: 10px;
		
		&:hover {
			box-shadow: 0 0 10px 0 #7f7f7f;

		}
	}
}

.hidden-menu {
	background-color: #a3bbc8;
}

.home-dots {
	display: flex;
	justify-content: center;

	li {
		margin-left: 15px;

		&:first-child {
			margin-left: 0;
		}

		&.slick-active {
			button {
				background-color: rgba($color: #ffff, $alpha: 0.5);
			}
		}

		button {
			padding: 0;
			background-color: #ffffff;
			font-size: 10px;
			color: $title-color;
			height: 30px;
			width: 30px;
			border: none;
			border-radius: 50%;
			outline: transparent;

			&:hover {
				box-shadow: 0 0 10px 0 #7f7f7f;
			}
		}
	}
}

.filter {
	text-align: center;
	margin-bottom: 80px;

	&__btn {
		background-color: transparent;
		padding: 0;
		border: none;
		@extend %dmsans-700;
		color: #8b8b8b;
		margin-right: 20px;
		outline: transparent;
	}

}

.products {
	&__content {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-left: -60px;
	}
}

.product-card {
	@extend %dmsans-400;
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
	width: 270px;
	margin-left: 30px;
	margin-bottom: 40px;
	padding: 35px 15px 30px 15px;
	box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
	position: relative;
	overflow: hidden;


	&__type {
		@extend %dmsans-400;
		font-size: 16px;
		color: $title-color;
		margin-top: 50px;
	}

	&__price {
		@extend %dmsans-700;
		margin-top: 15px;
		color: $subtitle;
	}

	&__icon {
		position: absolute;
		text-align: center;
		bottom: 40%;
		transform: translateY(-600%);
		transition: all 0.8s;
	}

	&__link {
		display: inline-block;
		width: 50px;
		height: 50px;
		background-color: #fff;
		border: none;
		border-radius: 50%;
		padding-top: 15px;
		box-shadow: 0 0 10px 0 #7f7f7f;

		&:not(:last-child) {
			margin-right: 15px;
		}

		&:hover {
			background-color: #a3bbc8;
		}

		&:hover path {
			fill: #fff;
		}
	}

	&:hover .product-card__icon {
		transform: translateY(0);
		transition: transform 0.8s;
	}
}