@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header {
	padding-top: 45px;
	margin-bottom: 50px;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.menu {
	font-weight: bold;
	color: $link-color;
	margin-left: 150px;

	&__list {
		display: flex;
	}

	&__item {
		position: relative;

		&:not(:last-child) {
			margin-right: 25px;
		}
	}

	&__link {
		color: $link-color;
		padding-bottom: 4px;
		border-bottom: 2px solid transparent;
		transition: color 0.3s;
		position: relative;

		&:hover {
			border-bottom-color: $accent-color;
		}

		&--active {
			color: orange;
		}
	}
}

.submenu {

	&:after {
		content: '+';
		margin-left: 5px;
	}

	&__list {
		position: absolute;
		display: none;
	}
}

.menu__list>li:hover .submenu__list {
	display: block;
}

.buttons {
	display: flex;
	align-items: center;

	&__link {
		position: relative;
		margin-top: 9px;
	}

	&__num {
		position: absolute;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background-color: #ffffff;
		top: -9px;
		right: -9px;
		font-size: 9px;
		text-align: center;
		color: black;
	}

	&__block {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 180px;
		margin: 0 20px;
		padding: 10px 37px 10px 47px;
		border-radius: 30px;
		background-color: $main-color;
	}

	&__line {
		border-left: 1px solid #ffffff;
		height: 30px;
	}
}

.search {
	cursor: pointer;

	&__form {
		display: none;
	}
}

.btn {
	width: 50px;
	height: 50px;
	background-color: #edf1f4;
	border: none;
	border-radius: 50%;
	padding-top: 5px;
	cursor: pointer;
}

.all {
	background-color: #a3bbc8;
}

.top-slider {

	&__content {
		padding: 216px 200px 268px 300px;
	}

	&__title {
		max-width: 470px;
		@extend %rubik-500;
		font-size: 72px;
		line-height: 1;
		color: $title-color;
		margin-bottom: 25px;
	}

	&__text {
		font-size: 18px;
		color: $link-color;
		max-width: 365px;
		margin-bottom: 45px;
	}

	&__link {
		@extend %btn;
		position: relative;
		display: block;
		width: 205px;
	}

	&__link::after {
		content: '';
		background-image: url(../images/arrowbtn.svg);
		background-repeat: no-repeat;
		position: absolute;
		width: 25px;
		height: 15px;
		top: 45%;
		right: 25px;
	}
}

.slick-dots {
	display: flex;
	justify-content: center;
	margin-top: 200px;
	position: absolute;
	bottom: 45px;
	right: 50%;
	left: 50%;

	li {
		margin-left: 11px;

		&:first-child {
			margin-left: 0;
		}

		button {
			padding: 0;
			background-color: #ffffff;
			font-size: 10px;
			color: $title-color;
			height: 30px;
			width: 30px;
			border: none;
			border-radius: 50%;
			outline: transparent;
		}

		&.slick-active {
			button {
				background-color: rgba($color: #ffff, $alpha: 0.5);
			}
		}
	}
}

.info {
	background-color: #fef7f0;
	display: flex;
	justify-content: space-around;
	align-items: center;

	&__text {
		@extend %dmsans-400;
		max-width: 200px;
	}

	&__item {
		padding-left: 75px;
		padding-right: 145px;
		padding-bottom: 45px;
		padding-top: 50px;
		margin-left: 114px;
		background-repeat: no-repeat;
		background-position: left center;
		position: relative;

		&:not(:last-child)::after {
			content: '';
			display: inline-block;
			position: absolute;
			padding-top: 50px;
			top: 0;
			bottom: 0;
			right: 0;
			width: 1px;
			height: 100%;
			background-color: #e8e4df;
		}

		&--support {
			background-image: url(../images/support.svg);
		}

		&--delivery {
			background-image: url(../images/delivery.svg);
		}

		&--payment {
			background-image: url(../images/credit.svg);
		}

		&-title {
			@extend %dmsans-700;
			color: #414141;
		}
	}
}

.title {
	text-align: center;
	margin: 75px 0 17px;
	color: #191919;
	@extend %dmsans-700;
	font-size: 36px;
}

.mixitup-control-active {
	color: #191919;
}

.poducts {

	&__content {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-top: 80px;
		margin-left: -60px;
	}

	&__filter-btn {
		text-align: center;
	}

	&__btn {
		@extend %filter__btn;
	}

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		width: 270px;
		height: 380px;
		margin-left: 30px;
		margin-bottom: 40px;
		padding: 35px 10px 30px 30px;
		box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
	}

	&__img {
		margin-top: auto;
	}

	&__type {
		margin-top: 50px;
		color: $title-color;
	}

	&__price {
		margin-top: 15px;
		color: $subtitle;
	}
}

.lamps {
	margin-top: 145px;

	&__items {
		display: flex;
		justify-content: space-between;
	}

	&__item {
		background-color: #feefe2;
		padding: 100px 150px 100px 390px;
		position: relative;
		color: $title-color;

		&:not(:last-child) {
			margin-right: 35px;
		}
	}

	&__img {
		position: absolute;
		bottom: 66px;
		left: 124px;
	}

	&__title {
		@extend %dmsans-700;
		font-size: 26px;
		margin-bottom: 30px;
	}

	&__text {
		margin-bottom: 35px;
	}

	&__link {
		text-transform: initial;
		padding: 20px 80px 20px 20px;
		background-color: transparent;
		color: $link-color;
		border: 1px solid #b3b7b5;
		border-radius: 5px;
		position: relative;
	}

	&__link::after {
		content: '';
		background-image: url(../images/arrovBlue.svg);
		background-repeat: no-repeat;
		position: absolute;
		width: 25px;
		height: 15px;
		top: 45%;
		right: 25px;
	}
}

.design {
	&__btn {
		@extend %filter__btn;
	}

	&__filter-btn {
		text-align: center;
	}

	&__cards {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 260px 260px;
		grid-gap: 30px;
		margin-top: 80px;
	}

	&__card {
		padding: 25px 0 0 40px;
		@extend %dmsans-700;
		font-size: 20px;
		color: #191919;
		background-repeat: no-repeat;

		&-title {
			max-width: 180px;
		}
	}

	&__subtitle {
		display: block;
		font-size: 16px;
		color: #a3bbc8;
		margin-top: 10px;
	}
}

.video {
	margin-top: 120px;
	&__popup {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 500px;
		background-repeat: no-repeat;
		background-position: cover;
		background-position: center center;
	}

	&__btn {
		transition: 0.8s;
		&:hover {
		transform: scale(1.5);
		transition: 0.8s;
		}
	}
}


.footer {
	@extend %rubik-400;
	font-size: 14px;
	color: #7b7b7b;
	border-bottom: 1px solid #dae4e9;
	padding-bottom: 35px;
	margin-top: 80px;

	&__inner {
		display: flex;
		justify-content: space-between;
		margin-bottom: 85px;
	}

	&__address {
		font-style: normal;
	}


	&__logo {
		margin-bottom: 25px;
		display: block;
	}

	&__contact {
		display: block;
		color: #7b7b7b;
		width: 215px;

		&:not(:first-child) {
			margin-top: 20px;
		}
	}

	&__title {
		margin: 15px 0 25px;
		@extend %rubik-600;
		color: #1f2044;
		text-transform: uppercase;
	}

	&__item {
		margin-bottom: 10px;
	}

	&__link {
		color: #7b7b7b;
	}

	&__text {
		margin-bottom: 40px;
	}

	&__form-input {
		max-width: 170px;
		width: 100%;
		background-color: #fef7f0;
		border: none;
		padding: 12px 10px 12px 15px;
		outline: transparent;

		&::placeholder {
			color: #234969;
			font-size: 16px;
		}
	}

	&__form-btn {
		@extend %btn;
		border: none;
		padding: 15px;
		cursor: pointer;
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__list-item {
		padding-right: 15px;
		color: #7b7b7b;

		&:not(:first-child) {
			padding-left: 15px;
			border-left: 2px solid #7b7b7b;
		}
	}

	&__list-link {
		color: #7b7b7b;
	}

	&__menu {
		display: flex;
	}
}

.subscribe {
	max-width: 290px;
}

.services {
	width: 200px;
}

.account {
	width: 200px;
}



@import 'media';